@using System.Globalization;
@model IEnumerable<Devpendent.Models.Education>

@{
    ViewData["Title"] = "Manage your educations";
}

<h1>@ViewData["Title"]</h1>

<p>
    <a class="btn" asp-action="Create">Create New</a>
</p>

<div class="mt-4 educations-wrap">
    <h3>Education</h3>
    @if (Model.Count() < 1)
    {
        <p>Nothing here yet.</p>
    }

    else
    {
        @foreach (var item in Model)
        {
            <div class="education">
                <h4>@item.Title - @item.UniversityName</h4>
                <h6>Graduated in @item.GraduationYear</h6>
                <a class="btn btn-clear" asp-action="Edit" asp-route-id="@item.Id">Edit</a>
                <a class="btn btn-danger" asp-action="Delete" asp-route-id="@item.Id">Delete</a>
            </div>
        }
    }
</div>