@using System.Globalization;
@model IEnumerable<Devpendent.Models.Job>

@{
    ViewData["Title"] = "Manage your jobs";
}

<h1>@ViewData["Title"]</h1>

<p>
    <a class="btn" asp-action="Create">Create New</a>
</p>

<div class="mt-5 jobs-wrap">
    <h3>Previous work experience</h3>
    @if (Model.Count() < 1)
    {
        <p>Nothing here yet.</p>
    }

    else {
        @foreach (var item in Model)
        {
            <div class="job">
                <h4>@item.Title</h4>
                <h6>@item.StartDate.ToString("MMMM dd, yyyy", CultureInfo.CreateSpecificCulture("en-GB")) - @item.EndDate.ToString("MMMM dd, yyyy", CultureInfo.CreateSpecificCulture("en-GB"))</h6>
                <p>@item.Description</p>
                <a class="btn btn-clear" asp-action="Edit" asp-route-id="@item.Id">Edit</a>
                <a class="btn btn-danger" asp-action="Delete" asp-route-id="@item.Id">Delete</a>
            </div>
        }
    }
</div>