@model IEnumerable<Devpendent.Models.Project>

@{
    ViewData["Title"] = "Browse Projects";
}

<h1>Projects</h1>

<h2>Sort by</h2>

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

    @Html.DropDownList("sort-select", new SelectList(ViewBag.SortOptions), "Sort by")
}

@if (ViewBag.CurrentSort != null)
{
    <p>Currently sorting by: @ViewBag.CurrentSort</p>
}

<div class="row">
    @foreach (var item in Model)
    {
        <div class="col-4">
            <img src="/media/projects/@item.Image" class="img-fluid" alt="Project thumbnail" />
            <h4>@item.Title</h4>
            <p>@item.User.FirstName @item.User.LastName</p>
            <div> 
                @Html.Raw(item.Description)
            </div>
            <div>
                <p>@item.Budget</p>
                <p>@item.DeliveryTime</p>
            </div>
        </div>
    }

@if (ViewBag.TotalPages > 1)
{
    <div class="d-flex w-100 justify-content-center">
        <pagination page-count="@ViewBag.TotalPages"
                    page-target="/projects/@ViewBag.CategorySlug"
                    page-number="@ViewBag.PageNumber"
                    page-range="@ViewBag.PageRange">
        </pagination>
    </div>
}

</div>

@section Scripts {

    <script type="text/javascript">

        $(document).ready(function () {

            $.ajax({
                type: "POST",
                url: "/Projects/GetSort",
                success: function (data) {
                    $("#sort-select").val(data);
                }
            });

            // Change sort on drop-down change
            $("#sort-select").change(function () {
                $.ajax({
                    type: "POST",
                    url: "/Projects/SetSort",
                    data: { sort: $("#sort-select").val() },
                    success: function (data) {
                        location.reload();
                    }
                });
            });

        });

    </script>

}
