@model IEnumerable<Devpendent.Models.Project>

@{
    ViewData["Title"] = "Browse Projects";
}

@if (ViewBag.CategorySlug != null)
{
    <h1>@ViewBag.CategoryName Projects</h1>
}

else {
    <h1>All projects</h1>
}

<div>
    <div>
        <p>@ViewBag.ProjectCount projects available</p>

        @using (Html.BeginForm())
        {
            @Html.AntiForgeryToken()

            <label for="sort-select">Sort by</label> @Html.DropDownList("sort-select", new SelectList(ViewBag.SortOptions), "Recent")
        }
    </div>
</div>

@*@using (Html.BeginForm())
{
    <p>
        Find by title: @Html.TextBox("SearchString")
        <input type="submit" value="Search" />
    </p>
}

if (ViewBag.CurrentSort != null)
{
    <p>Currently sorting by: @ViewBag.CurrentSort</p>
}*@

<div class="row">
    <div>
        <div class="category-wrap">
            @foreach (var item in Model)
            {
                <div class="category">
                    <div>
                        <h3>@item.Title</h3>
                        <img src="/media/projects/@item.Image" alt="@item.Title Thumbnail">
                        <div>
                            <div>
                                <img src="/media/users/@item.User.Image">
                                <div>
                                    <h5>@item.User.FirstName @item.User.LastName</h5>
                                    <p>@item.User.UserName</p>
                                </div>
                            </div>
                            <div>
                                @Html.Raw(item.Description)
                            </div>
                            <div>
                                <div>
                                    <h4>Delivery Time</h4>
                                    <h3>@item.DeliveryTime</h3>
                                </div>
                                <div>
                                    <h4>Budget</h4>
                                    <h3>@item.Budget</h3>
                                </div>
                            </div>
                        </div>
                        <a class="btn" asp-controller="Projects" asp-action="Index" asp-route-categorySlug="@item.Slug">Browse</a>
                    </div>
                </div>
            }
        </div>
    </div>

@if (ViewBag.TotalPages > 1)
{
    <div class="d-flex w-100 justify-content-center">
        <pagination page-count="@ViewBag.TotalPages"
                    page-target="/projects/@ViewBag.CategorySlug"
                    page-number="@ViewBag.PageNumber"
                    page-range="@ViewBag.PageRange">
        </pagination>
    </div>
}

</div>

@section Scripts {

    <script type="text/javascript">

        $(document).ready(function () {

            $.ajax({
                type: "POST",
                url: "/Projects/GetSort",
                success: function (data) {
                    $("#sort-select").val(data);
                }
            });

            // Change sort on drop-down change
            $("#sort-select").change(function () {
                $.ajax({
                    type: "POST",
                    url: "/Projects/SetSort",
                    data: { sort: $("#sort-select").val() },
                    success: function (data) {
                        location.reload();
                    }
                });
            });

        });

    </script>

}
