@using Devpendent.Infrastructure.Extensions;
@model IEnumerable<Devpendent.Models.Project>

@{
    ViewData["Title"] = "My Projects";
}

<h1>My Projects</h1>

<p>
    <a class="btn" asp-action="Create">Create New</a>
</p>

<div class="row">
    @if (Model.Count() < 1)
    {
        <p>Nothing here yet.</p>
    }

    else
    {
        <div>
            <div class="project-wrap">
                @foreach (var item in Model)
                {
                    <div class="project">
                        <div>
                            <div class="project-thumb-wrap" style="background-image: linear-gradient(rgba(0,0,0) 0%, rgba(0,0,0,0) 75%), url('/media/projects/@item.Image');">
                                <h3>@item.Title</h3>
                            </div>
                            <div class="project-text-wrap">
                                <div class="project-user-wrap">
                                    <img src="/media/users/@item.User.Image" class="project-pfp" alt="@item.User.UserName Profile Picture">
                                    <div>
                                        <h5>@item.User.FirstName @item.User.LastName</h5>
                                        <p>@@@item.User.UserName</p>
                                    </div>
                                </div>
                                <div class="mt-3 project-desc-wrap">
                                    @Html.Raw(item.Description.Truncate(40))
                                </div>
                                <div class="project-info-wrap">
                                    <div>
                                        <h4>Delivery Time</h4>
                                        <h3>@item.DeliveryTime</h3>
                                    </div>
                                    <div class="budget-wrap">
                                        <h4>Budget</h4>
                                        <h3>@item.Budget</h3>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="project-buttons">
                            <div>
                                <a class="btn btn-clear" asp-action="Details" asp-route-id="@item.Id">View</a>
                                <a class="btn btn-clear" asp-action="Edit" asp-route-id="@item.Id">Edit</a>
                            </div>
                            <a class="btn btn-danger" asp-action="Delete" asp-route-id="@item.Id">Delete</a>
                        </div>
                    </div>
                }
            </div>
        </div>
    }
</div>