@page
@using System.Globalization;
@model IndexModel
@{
    ViewData["Title"] = "Edit Profile";
    ViewData["ActivePage"] = ManageNavPages.Index;
}

<h2>@ViewData["Title"]</h2>
<partial name="_StatusMessage" for="StatusMessage" />
<div class="row">
    <div>
        <form id="profile-form" method="post" enctype="multipart/form-data">
            <div asp-validation-summary="ModelOnly" class="text-danger" role="alert"></div>
            <div class="user-main-wrap mb-5">
                <div class="user-manage-wrap">
                    <div class="user-profile-wrap mt-4 mb-5">
                        <div>
                            <img id="imgpreview" class="mb-3" src="/media/users/@Model.Image" alt="Profile Picture Preview" />
                            <div class="form-group">
                                <label asp-for="Input.ImageUpload" class="control-label">Edit profile picture</label>
                                <input asp-for="Input.ImageUpload" class="form-control" accept="image/png, image/jpeg" />
                                <span asp-validation-for="Input.ImageUpload" class="text-danger"></span>
                            </div>
                        </div>
                        <div class="user-profile-text">
                            <div class="d-flex">
                                <div class="form-floating">
                                    <input asp-for="Input.FirstName" class="form-control" placeholder="Please choose your first name." />
                                    <label asp-for="Input.FirstName" class="form-label"></label>
                                    <span asp-validation-for="Input.FirstName" class="text-danger"></span>
                                </div>
                                <div class="form-floating">
                                    <input asp-for="Input.LastName" class="form-control" placeholder="Please choose your last name." />
                                    <label asp-for="Input.LastName" class="form-label"></label>
                                    <span asp-validation-for="Input.LastName" class="text-danger"></span>
                                </div>
                            </div>
                            <div class="username-input-wrap">
                                <span class="prefix">@@</span>
                                <div class="form-floating mb-3">
                                    <input asp-for="Input.Username" class="form-control" placeholder="Please choose your username." />
                                    <label asp-for="Input.Username" class="form-label"></label>
                                    <span asp-validation-for="Input.Username" class="text-danger"></span>
                                </div>
                            </div>
                            <div class="specialties-input-wrap">
                                <p class="prefix mt-4">Specializes in</p>
                                <div class="form mb-3">
                                    <label asp-for="Input.Specialties" class="form-label"></label>
                                    <input asp-for="Input.Specialties" class="form-control" placeholder="eg. HTML, CSS and JS" />
                                    <span asp-validation-for="Input.Specialties" class="text-danger"></span>
                                </div>
                            </div>
                            <div>
                                <div class="d-flex align-items-center gap-2">
                                    <svg xmlns="http://www.w3.org/2000/svg" width="14.523" height="17.461" viewBox="0 0 14.523 17.461">
                                        <g transform="translate(0.65 0.65)">
                                            <path d="M17.723,8.111c0,5.142-6.611,9.55-6.611,9.55S4.5,13.253,4.5,8.111a6.611,6.611,0,0,1,13.223,0Z" transform="translate(-4.5 -1.5)" fill="none" stroke="#000" stroke-linecap="round" stroke-linejoin="round" stroke-width="1.3" />
                                            <path d="M17.908,12.7a2.2,2.2,0,1,1-2.2-2.2,2.2,2.2,0,0,1,2.2,2.2Z" transform="translate(-9.092 -6.092)" fill="none" stroke="#000" stroke-linecap="round" stroke-linejoin="round" stroke-width="1.3" />
                                        </g>
                                    </svg>
                                    <div class="form-floating mb-3">
                                        <input asp-for="Input.Location" class="form-control" placeholder="Please choose your location." />
                                        <label asp-for="Input.Location" class="form-label"></label>
                                        <span asp-validation-for="Input.Location" class="text-danger"></span>
                                    </div>
                                </div>
                                <div class="d-flex align-items-center gap-2">
                                    <svg xmlns="http://www.w3.org/2000/svg" width="15.574" height="15.574" viewBox="0 0 15.574 15.574">
                                        <g transform="translate(-2.35 -2.35)">
                                            <path d="M17.274,10.137A7.137,7.137,0,1,1,10.137,3,7.137,7.137,0,0,1,17.274,10.137Z" fill="none" stroke="#000" stroke-linecap="round" stroke-linejoin="round" stroke-width="1.3" />
                                            <path d="M3,18H17.274" transform="translate(0 -7.863)" fill="none" stroke="#000" stroke-linecap="round" stroke-linejoin="round" stroke-width="1.3" />
                                            <path d="M14.855,3a10.92,10.92,0,0,1,2.855,7.137,10.92,10.92,0,0,1-2.855,7.137A10.92,10.92,0,0,1,12,10.137,10.92,10.92,0,0,1,14.855,3Z" transform="translate(-4.718)" fill="none" stroke="#000" stroke-linecap="round" stroke-linejoin="round" stroke-width="1.3" />
                                        </g>
                                    </svg>
                                    <div class="form-floating mb-3">
                                        <input asp-for="Input.Website" class="form-control" placeholder="Please choose your location." />
                                        <label asp-for="Input.Website" class="form-label"></label>
                                        <span asp-validation-for="Input.Website" class="text-danger"></span>
                                    </div>
                                </div>
                                <div class="d-flex align-items-center gap-2">
                                    <svg xmlns="http://www.w3.org/2000/svg" width="14.523" height="15.992" viewBox="0 0 14.523 15.992">
                                        <g data-name="Icon feather-calendar" transform="translate(0.65 0.65)">
                                            <path d="M5.969,6H16.253a1.469,1.469,0,0,1,1.469,1.469V17.753a1.469,1.469,0,0,1-1.469,1.469H5.969A1.469,1.469,0,0,1,4.5,17.753V7.469A1.469,1.469,0,0,1,5.969,6Z" transform="translate(-4.5 -4.531)" fill="none" stroke="#000" stroke-linecap="round" stroke-linejoin="round" stroke-width="1.3" />
                                            <path d="M24,3V5.938" transform="translate(-14.451 -3)" fill="none" stroke="#000" stroke-linecap="round" stroke-linejoin="round" stroke-width="1.3" />
                                            <path d="M12,3V5.938" transform="translate(-8.327 -3)" fill="none" stroke="#000" stroke-linecap="round" stroke-linejoin="round" stroke-width="1.3" />
                                            <path d="M4.5,15H17.723" transform="translate(-4.5 -9.123)" fill="none" stroke="#000" stroke-linecap="round" stroke-linejoin="round" stroke-width="1.3" />
                                        </g>
                                    </svg>
                                    <p>
                                        Member since @Model.RegisterDate.ToString("MMMM dd, yyyy", CultureInfo.CreateSpecificCulture("en-GB"))
                                    </p>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div>
                        <h3>Developer biography</h3>
                        <div class="form-group">
                            <label asp-for="Input.Description" class="control-label"></label>
                            <textarea asp-for="Input.Description" class="form-control"></textarea>
                            <span asp-validation-for="Input.Description" class="text-danger"></span>
                        </div>
                    </div>
                </div>
            </div>
            <div class="form-group my-5">
                <h3 class="mb-3">Contact information</h3>
                <div class="form-floating mb-4">
                    <input asp-for="Email" class="form-control" placeholder="Please choose your email." disabled />
                    <label asp-for="Email" class="form-label"></label>
                    <span asp-validation-for="Email" class="text-danger"></span>
                </div>
                <div class="form-floating mb-4">
                    <input asp-for="Input.PhoneNumber" class="form-control" placeholder="Please enter your phone number." />
                    <label asp-for="Input.PhoneNumber" class="form-label"></label>
                    <span asp-validation-for="Input.PhoneNumber" class="text-danger"></span>
                </div>
                <div class="form-floating mb-4">
                    <label asp-for="Input.ContactText" class="form-label">Contact text</label>
                    <textarea asp-for="Input.ContactText" class="form-control pt-5"></textarea>
                    <span asp-validation-for="Input.ContactText" class="text-danger"></span>
                </div>
            </div>
            <div>
                <input id="update-profile-button" type="submit" value="Save profile changes" class="btn btn-lg mb-2" />
                <a class="btn btn-clear py-2 mb-2" asp-controller="Users" asp-action="Profile" asp-route-userName="@Model.Username">View profile</a>
            </div>
        </form>
        <div class="mt-5 jobs-wrap">
            <h3>Previous work experience</h3>
            @if (Model.Jobs.Count < 1)
            {
                <p>Nothing here yet.</p>
            }
            
            else {
                @foreach (var item in Model.Jobs)
                {
                    <div class="job">
                        <h4>@item.Title</h4>
                        <h6>@item.StartDate.ToString("MMMM dd, yyyy", CultureInfo.CreateSpecificCulture("en-GB")) - @item.EndDate.ToString("MMMM dd, yyyy", CultureInfo.CreateSpecificCulture("en-GB"))</h6>
                        <p>@item.Description</p>
                    </div>
                }
            }
            <a class="btn btn-clear" asp-controller="Jobs" asp-action="Index">Edit</a>
        </div>
        <div class="mt-4 educations-wrap">
            <h3>Education</h3>
            @if (Model.Educations.Count < 1)
            {
                <p>Nothing here yet.</p>
            }

            else
            {
                @foreach (var item in Model.Educations)
                {
                    <div class="education">
                        <h4>@item.Title - @item.UniversityName</h4>
                        <h6>Graduated in @item.GraduationYear</h6>
                    </div>
                }
            }
            <a class="btn btn-clear" asp-controller="Educations" asp-action="Index">Edit</a>
        </div>
    </div>
</div>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />

    <script src="https://cdn.ckeditor.com/4.21.0/standard/ckeditor.js"></script>

    <script>
        $("#Input_ImageUpload").change(function () {
            readURL(this);
        });

        CKEDITOR.replace('Input.Description', {
            format_tags: 'p;h4;h5;h6'
        });
    </script>
}
