@using Devpendent.Infrastructure.Extensions;
@model IEnumerable<Devpendent.Models.Project>

@{
    ViewData["Title"] = "Browse @" + ViewBag.Username + "'s Projects";
}

@if (ViewBag.CategorySlug != null)
{
    <h1>@@@ViewBag.Username's @ViewBag.CategoryName projects</h1>
}

else
{
    <h1>@@@ViewBag.Username's projects</h1>
}

<div class="my-3">
    <div class="project-list-info">
        <p>@ViewBag.ProjectCount projects available</p>

        @using (Html.BeginForm())
        {
            @Html.AntiForgeryToken()

            <label for="sort-select">Sort by</label> @Html.DropDownList("sort-select", new SelectList(ViewBag.SortOptions), "Recent")
        }
    </div>
</div>

@*@using (Html.BeginForm())
{
    <p>
        Find by title: @Html.TextBox("SearchString")
        <input type="submit" value="Search" />
    </p>
}

if (ViewBag.CurrentSort != null)
{
    <p>Currently sorting by: @ViewBag.CurrentSort</p>
}*@

<div class="row">
    <div>
        <div class="project-wrap">
            @foreach (var item in Model)
            {
                <div class="project">
                    <a asp-action="Details" asp-route-id="@item.Id">
                        <div>
                            <div class="project-thumb-wrap" style="background-image: linear-gradient(rgba(0,0,0) 0%, rgba(0,0,0,0) 75%), url('/media/projects/@item.Image');">
                                <h3>@item.Title</h3>
                            </div>
                            <div class="project-text-wrap">
                                <div class="project-user-wrap">
                                    <img src="/media/users/@item.User.Image" class="project-pfp">
                                    <div>
                                        <h5>@item.User.FirstName @item.User.LastName</h5>
                                        <p>@@@item.User.UserName</p>
                                    </div>
                                </div>
                                <div class="mt-3 project-desc-wrap">
                                    @Html.Raw(item.Description.Truncate(40))
                                </div>
                                <div class="project-info-wrap">
                                    <div>
                                        <h4>Delivery Time</h4>
                                        <h3>@item.DeliveryTime</h3>
                                    </div>
                                    <div class="budget-wrap">
                                        <h4>Budget</h4>
                                        <h3>@item.Budget USD</h3>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </a>
                </div>
            }
        </div>
    </div>

    @if (ViewBag.TotalPages > 1)
    {
        <div class="d-flex w-100 justify-content-center mt-5">
            <pagination page-count="@ViewBag.TotalPages"
                    page-target="/projects/@ViewBag.CategorySlug"
                    page-number="@ViewBag.PageNumber"
                    page-range="@ViewBag.PageRange">
            </pagination>
        </div>
    }

</div>

@section Scripts {

    <script type="text/javascript">

        $(document).ready(function () {

            $.ajax({
                type: "POST",
                url: "/Users/GetSort",
                success: function (data) {
                    $("#sort-select").val(data);
                }
            });

            // Change sort on drop-down change
            $("#sort-select").change(function () {
                $.ajax({
                    type: "POST",
                    url: "/Users/SetSort",
                    data: { sort: $("#sort-select").val() },
                    success: function (data) {
                        location.reload();
                    }
                });
            });

        });

    </script>

}
